@reference "./tailwind.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  // Roboto
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  @apply bg-tertiary;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    @apply bg-secondary;
  }
}

input[type='text'] {
  @apply rounded-md text-black;
}

// Scroll bars
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-tertiary;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clock {
  width: 24px;
  height: 24px;
  background-color: var(--color-secondary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: relative;
}

.hand {
  aspect-ratio: 1 / 1;
  height: 1px;
  width: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transition-duration: 1000ms;
}